.border-light-flow {
    border: 2px solid transparent;
    position: relative;
    animation: lightFlow 2s infinite;
  }

  @keyframes lightFlow {
    0%, 100% {
      border-color: rgba(35, 34, 34, 0.3);
    }
    50% {
      border-color: rgba(255, 255, 255, 0.8);
    }
  }
  
  @keyframes pulsate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
      opacity: 1; 
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Apply the animation to the pie chart on hover */
  #pieChartContainer:hover {
    animation: pulsate 1s infinite;
  }

  